<!-- this is the html to display notams, very barebones currently -->
<!DOCTYPE html>

<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <!-- All table cells are text-aligned to the top. -->
    <style type=text/css>
        table td, table td * { vertical-align: top;}
    </style>

<div id="plotly-figure">{{ figure.to_html(full_html=False) | safe }}</div>
<p>  Flight Route from {{ DepartureAirport }} 🡢 {{ ArrivalAirport }} </p>
    {% if table is not none %}
        {{ table }}
    {% endif %}
</html>